@charset "utf-8";

/* header */
div#header{width: 980px;margin: 0 auto;margin-top: 10px; }
div#header>nav.util-menu1{} 
div#header>nav.util-menu1 ul{}
div#header>nav.util-menu1 ul li{}
div#header>nav.util-menu1 ul li a{}

div#header>nav.util-menu2{margin-top: 10px;} 
div#header>nav.util-menu2 ul{}
div#header>nav.util-menu2 ul li{}
div#header>nav.util-menu2 ul li a{}




